.header {
    display: flex;
    align-items: center;

    height: 60px;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .wrapper nav ul {
    display: flex;

    list-style-type: none;
}