:root {
    --bg-light: hsla(0, 0%, 100%, 1.00);
    --bg: hsla(0, 0%, 95%, 1.00);
    --bg-dark: hsla(0, 0%, 90%, 1.00);
    --accent: hsla(0, 0%, 40%, 1.00);
    --border: hsla(0, 0%, 70%, 1.00);
    --text: hsla(0, 0%, 5%, 1.00);
    --text-muted: hsla(0, 0%, 30%, 1.00);
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}